{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="display-table">
    <div class="display-table-cell">
        
        <h1 class="title"><b>Ethiopian Citizen Identfication Platform </b></h1>
        <p class="desc font-white"></p>
    
        <a class="notify-btn" href="/home/register/"><b>Register</b></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="notify-btn" href="/home/identfay/"><b>identfay</b></a>
        
        
    </div><!-- display-table -->
</div><!-- display-table-cell -->

{% endblock %}